certifi==2018.10.15
chardet==3.0.4
defusedxml==0.5.0
Django==2.2.10
django-braces==1.13.0
django-cors-headers==2.4.0
django-filter==2.0.0
django-jet==1.0.8
django-oauth-toolkit==1.2.0
django-rest-framework-social-oauth2==1.1.0
django-sendsms==0.3.1
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
hspsms==0.0.2
idna==2.7
mysql==0.0.2
mysqlclient==1.3.13
oauthlib==2.1.0
pkginfo==1.4.2
PyJWT==2.4.0
python3-openid==3.1.0
pytz==2018.7
requests==2.20.0
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
six==1.11.0
social-auth-core==2.0.0
tqdm==4.28.1
urllib3==1.24.1
